* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Dhurjati&family=Poppins&family=Source+Serif+4:opsz@8..60&display=swap");

%txt {
  font-family: "Source Serif 4", serif;
  font-weight: 400;
  word-wrap: break-word;
}
